{% extends "site/template.html" %}
{% block content %}
{% include "site/nav_admin.html" %}

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-4 is-offset-4">
        <h1 class="title">Editar dívida #{{form.instance.id}}</h1>
        {% if messages %}
        {% for mensagem in messages %}
        <div class="notification is-{{mensagem.tags}}">
          <button class="delete"></button>
          {{ mensagem }}
        {% endfor %}
        </div>
        {% endif %}
        <form method="post">
          {{ form.non_field_errors }}
          {% csrf_token %}
          {% for field in form %}
          <div class="field">
            <label class="label">{{field.label}}</label>
            <div class="control">
              {{field}}
            </div>
            <p class="help">{{field.help_text}}</p>
            {% if field.errors %}
            <p class="help is-danger">
            {% for error in field.errors %}
            {{error}}.
            {% endfor %}
            </p>
              {% endif %}
          </div>
          {% endfor %}
          <div class="field">
            <div class="control">
              <button type="submit" class="button is-primary">Salvar</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</section>
{% endblock %}
