{% extends "site/template.html" %}
{% load dividas_tags %}
{% block content %}
{% include "site/nav_admin.html" %}
<section class="section">
  <div class="container">
    <div class="level">
      <div class="level-left">
        <h1 class="title">Dívidas</h1>
      </div>
      <div class="level-right">
        <a href="{% url 'site:admin_divida_add' %}" class="button is-info">Adicionar dívida</a>
      </div>
    </div>
    {% if messages %}
    {% for mensagem in messages %}
    <div class="notification is-{{mensagem.tags}}">
      <button class="delete"></button>
      {{ mensagem }}
    </div>
    {% endfor %}
    {% endif %}

    {% if dividas %}
    <table class="table is-striped is-fullwidth">
      <thead>
        <th>Devedor</th>
        <th>Cobrador</th>
        <th>Valor</th>
        <th>Data Inclusão</th>
        <th>Sobre</th>
        <th>Ações</th>
      </thead>
      <tbody>
        {% for divida in dividas %}
        <tr>
          <td class="cpf">{{divida.devedor.cpf}}</td>
          <td>{{divida.cobradora.nome}}</td>
          <td>{{divida.valor|formatar_moeda}}</td>
          <td>{{divida.incluida_em}}</td>
          <td>{% if divida.sobre %} {{divida.sobre}} {% endif %}</td>
          <td>
            <span class="icon">
              <form>
              <a class="button is-text" href="{% url 'site:admin_divida_edit' divida.id %}"><i class="fas fa-pencil-alt"></i></a>
              </form>
            </span>
            <span class="icon">
              <form method="post" action="{% url 'site:admin_divida_deletar' divida.id %}">
                {% csrf_token %}
                  <button type="submit" class="button is-text">
                    <span class="icon">
                      <i class="fas fa-trash-alt"></i>
                    </span>
                  </button>
              <input type="hidden" name="id" value="{{divida.id}}"/>
              </form>
            </span>
          </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>Nenhuma dívida encontrada</p>
    {% endif %}
  </div>
</section>

{% block javascript %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.13/jquery.mask.min.js" integrity="sha256-Cq7XEyDcEipCpZODrMe4Bxukqlx8R9ZndzIYs4wytEM=" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

  <script>
  $(document).ready(function() {
    $('.cpf').mask('000.000.000.00');
  })
  </script>
  {{ block.super }}

{% endblock %}

{% endblock %}
