{% extends "site/template.html" %}

{% block content %}

{% include "site/nav_admin.html" %}

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-4 is-offset-4">
        <h1 class="title">Nova dívida</h1>
        <form id="cadastrar-divida-form" method="post">
          {{ form.non_field_errors }}
          {% csrf_token %}
          <div class="field">
            {% for field in form %}
            <label class="label">{{field.label}}</label>
            <div class="control">
              {{field}}
            </div>
            <p class="help">{{field.help_text}}</p>
            {% if field.errors %}
            <p class="help is-danger">
              {% for error in field.errors %}
              {{error}}.
              {% endfor %}
            </p>
            {% endif %}
            {% endfor %}
          </div>
          <div class="field">
            <div class="control">
              <button type="submit" class="button is-info">Cadastrar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block javascript %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.13/jquery.mask.min.js" integrity="sha256-Cq7XEyDcEipCpZODrMe4Bxukqlx8R9ZndzIYs4wytEM=" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

  <script>
  $(document).ready(function() {
    $('.cpf').mask('000.000.000.00');

    $('#cadastrar-divida-form').submit(function () {
      $('input.cpf').val($('input.cpf').cleanVal());
    });
  });
  </script>
  {{ block.super }}

  {% endblock %}
