{% extends "site/template.html" %}
{% load static %}
{% load dividas_tags %}
{% block content %}
<section class="hero is-fullheight is-info">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2 has-text-centered container-dividas-content">
        <div class="content dividas-content">
          {% if dividas %}
          <h1 class="title"> Dívidas associadas ao CPF <span class="cpf">{{ cpf }}</span></h1>
          <div class="" style="padding-left: 10px; padding-rigth: 10px; background-color: white">
            <table class="table is-striped">
              <thead>
                <tr>
                  <th>Valor</th>
                  <th>Cobrador</th>
                  <th>Incluída em</th>
                  <th>Sobre</th>
                </tr>
              </thead>
              <tbody>
                {% for divida in dividas %}
                <tr>
                  <td>
                    {{ divida.valor|formatar_moeda }}
                  </td>
                  <td>
                    {{divida.cobradora.nome}}
                  </td>
                  <td>
                    {{divida.incluida_em}}
                  </td>
                  <td>
                    {% if divida.sobre %}
                    {{divida.sobre}}
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% else %}
          <h1 class="title">Parabéns! O Seu nome está limpo.</h1>
          <figure>
            <img class="image is-128x128" src="{% static 'imgs/maps-and-flags.png' %}">
          </figure>
          <a href="{% url 'dividas_site:index'%}" class="button is-danger">Fazer nova consulta</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

% block javascript %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.13/jquery.mask.min.js" integrity="sha256-Cq7XEyDcEipCpZODrMe4Bxukqlx8R9ZndzIYs4wytEM=" crossorigin="anonymous"></script>

  <script>
  $(document).ready(function() {
    $('.cpf').mask('000.000.000.00');
  })
  </script>
  {{ block.super }}

{% endblock %}
