{% extends "site/template.html" %}
{% block content %}
  <section class="hero is-info is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <p><h1 class="is-size-1">Nome sujo? Verifique agora mesmo!</h1></p>
        <form id="nome-sujo-form" method="get" action="{% url 'site:search' %}">
          {% csrf_token %}
          <div class="field has-addons has-addons-centered">
            <p class="control">
              {{form.cpf }}
            </p>
            <p class="control">
              <button class="button is-primary" type="submit">Verificar</button>
            </p>
          </div>
          {% if form.cpf.errors %}
          <p class="control">
            <p class="help is-danger">
              <strong>
              {% for error in form.cpf.errors %}
              {{ error }}.
              {% endfor %}
              </strong>
            </p>
          </p>
          {% endif %}
        </form>
      </div>
    </div>
  </section>
{% endblock %}
{% block javascript %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.13/jquery.mask.min.js" integrity="sha256-Cq7XEyDcEipCpZODrMe4Bxukqlx8R9ZndzIYs4wytEM=" crossorigin="anonymous"></script>

  <script>
  $(document).ready(function() {
    $('input.cpf').mask('000.000.000.00');

    $('#nome-sujo-form').submit(function() {
      console.log($('input.cpf').cleanVal());
      $('input.cpf').val($('input.cpf').cleanVal());
    });

  })
  </script>
  {{ block.super }}
{% endblock %}
