{% extends "site/template.html" %}
{% block content %}
<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-4 is-offset-4">
          <h1 class="title">Entrar</h1>
          <form method="post">
            {% csrf_token %}
            <p class="is-danger">
            {% for error in form.non_field_errors %}
            {{ error }}
            {% endfor %}
            </p>
            <div class="field">
              <div class="control">
                <input class="input" type="text" id="{{form.username.id_for_label}}" name="{{form.username.name}}" required
                  placeholder="Usuário" />
                <p class="help">{{form.username.help_text}}</p>
                {% if form.username.errors %}
                <p class="help is-danger">
                  {% for error in form.username.errors %}
                  {{error}}.
                  {% endfor %}
                </p>
                {% endif %}
              </div>
            </div>

            <div class="field">
              <div class="control">
                <input class="input" type="password" id="{{form.password.id_for_label}}" name="{{form.password.name}}" required
                  placeholder="Senha" />

                <p class="help">{{form.password.help_text}}</p>
                {% if form.password.errors %}
                <p class="help is-danger">
                  {% for error in form.password.errors %}
                  {{error}}.
                  {% endfor %}
                </p>
                {% endif %}

              </div>
            </div>

            <div class="field">
              <div class="control">
                <button type="submit" class="button is-link">Entrar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
