<nav class="navbar is-link" role="navigation" aria-label="main navigation">
  <div class="navbar-menu is-active">
    <div class="navbar-end">
      <a class="navbar-item" href="{% url 'site:index' %}" class="">Home</a>
      <a class="navbar-item" href="{% url 'site:logout' %}">Sair</a>
    </div>
  </div>
</nav>
