<!DOCTYPE HTML>
{% load static %}
<html>
<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" integrity="sha256-2k1KVsNPRXxZOsXQ8aqcZ9GOOwmJTMoOB5o5Qp1d6/s=" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'css/site.css' %}" />
  {% endblock %}
  {% block javascript %}
  {% endblock %}
</head>

<body>
  {% block content %}
  {% endblock %}
</body>

</html>
